
h1 {
    text-align:center;
    font-size:medium;
}
#sub {
    text-align: center;
    border-radius:0%;
    font-size:12.5px;
}

a {
    text-decoration: none;
    color: blue;
}

* {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
  }
  

p {
    padding-left: 10px;

}

.centered {
    padding-left:10px;
}

img {
    padding-left:10px
}
